.index-page{
	@media(--desktop){
		margin: 32px;
	}
}

.grid{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 60px repeat(11, 1fr);
	@media(--desktop){
		grid-template-columns: 57px repeat(10, 1fr) 50px;
	}
	@media(--desktop-fullhd){
		grid-template-columns: 57px repeat(14, 1fr) 50px;
	}
}

.item{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 60px repeat(4, 1fr);
	width: 280px;
	height: 320px;
	margin: auto;
	margin-bottom: 64px;
	@media(--pad){
		width: 480px;
		height: 480px;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(8, 1fr);
	}
	@media(--desktop){
		width: 100%;
		grid-template-columns: repeat(16, 1fr);
	}
	& .num{
		font-size: 30pt;
		color: var(--main);
		margin: 0;
		@media(--pad){
			font-size: 40pt;
		}
		@media(--desktop-hd){
			font-size: 60pt;;
		}
	}
	& .tag{
		& span{
			font-size: 12pt;
			display: table;
			margin-bottom: 5px;
		    padding: 5px 10px;
		    position: relative;
		    z-index: 10;
		}
		& .red-tag{
			color: white;
			&:after{
				content: '';
				width: 100%;
				height: 100%;
				background-color: var(--main);
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}
		}
		& .white-tag{
			color: var(--main);
			&:after{
				content: '';
				width: 100%;
				height: 100%;
				background-color: white;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
			}
		}
	}
	& .title{
		& h2{
			color: white;
			font-size: 30pt;
			font-family: var(--sans);
			display: table;
			position: relative;
			z-index: 10;
			padding: 0 10px;
			letter-spacing: 3px;
			@media(--pad){
				font-size: 50pt;
			}
			@media(--desktop-hd){
				font-size: 75pt;
			}
			&:after{
				content: '';
				width: 100%;
				height: 100%;
				background-color: var(--main);
				padding: 5px 0;
				position: absolute;
				top: -5px;
				left: 0px;
				z-index: -1;
			}
		}
	}
	& .border{
		border: 5px solid var(--main);
		@media(--desktop-hd){
			border: 10px solid var(--main);
		}
	}
	& .pattern{
		background-image: repeating-linear-gradient(135deg,
			var(--main) 0px,
			var(--main) 5px,

			transparent 5px,
			transparent 15px
		);
		@media(--desktop-hd){
			background-image: repeating-linear-gradient(135deg,
				var(--main) 0px,
				var(--main) 10px,

				transparent 10px,
				transparent 30px
			);
		}
	}
	& .solid{
		background-color: var(--main);
	}
}

section.main-visual{
	height: calc( 100vh - 64px );
	margin: 32px;
	margin-bottom: 64px;
	@media(--desktop){
		margin: 0 0 144px 0;
	}
	& .logo{
		grid-area: 1 / 2 / 1 / 6;
		position: relative;
		cursor: pointer;
		@media(--desktop){
			grid-area: 1 / 2 / 1 / 12;
		}
		@media(--desktop-fullhd){
			grid-area: 1 / 2 / 1 / 17;
		}
		& span{
			color: var(--main);
			padding: 5px 10px;
			background-color: white;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 63px;
		}
	}
	& .btn{
		position: relative;
		grid-area: 1 / 1 / 1 / 1;
		cursor: pointer;
		@media(--desktop){
			grid-area: 1 / 1 / 13 / 1;
			height: 100%;
		}
		& img{
			width: 25px;
			height: 25px;
			position: absolute;
			top: 0;
			left: 0;
			@media(--desktop){
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	& .pic{
		grid-area: 2 / 1 / 13 / 7;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		background-position: center;
		@media(--desktop){
			grid-area: 2 / 2 / 13 / 12;
			background-position: center 90%;
		}
		@media(--desktop-fullhd){
			grid-area: 2 / 2 / 13 / 16;
		}
		& .word{
			margin: 50px 0 0 20px;
			@media(--pad){
				margin: 100px 0 0 50px;
			}
			@media(--desktop){
				margin: 0;
				position: absolute;
				left: 60px;
				top: 20%;
			}
			& h2, & h5{
				color: var(--main);
				font-family: var(--sans);
				position: relative;
				z-index: 10;
				display: table;
				&:after{
					content: '';
					background-color: white;
					position: absolute;
					left: -10px;
					top: -5px;
					height: 100%;
					width: 100%;
					z-index: -1;
					padding: 5px 10px;
				}
			}
			& h2{
				font-size: 30pt;
    			line-height: 30pt;
    			letter-spacing: 5px;
    			&:after{
    				top: -10px;
    			}
    			@media(--pad){
    				font-size: 60pt;
    				line-height: 60pt;
    				padding: 5px 20px;
    				&:after{
    					top: -15px;
    				}
    			}
    			@media(--desktop-fullhd){
					font-size: 100pt;
				    line-height: 100pt;
				    &:after{
				    	top: -20px;
				    }
    			}
			}
			& h2:nth-child(2){
				margin-left: 50px;
			}
			& h5{
				font-size: 16pt;
				line-height: 16pt;
				@media(--pad){
					font-size: 24pt;
					line-height: 24pt;
				}
				@media(--desktop-fullhd){
					font-size: 40pt;
					line-height: 40pt;
				}
			}
		}
		& .num{
			color: white;
			background-color: var(--main);
			font-size: 12pt;
			padding: 5px 10px;
			position: absolute;
			right: -1px;
			bottom: -1px;
		}
	}

	& .contact{
		display: none;
		@media(--desktop){
			display: block;
			grid-area: 1 / 12 / 13 / 12;
			position: relative;
			& span{
				writing-mode: vertical-rl;
				text-transform: uppercase;
				color: var(--main);
				font-size: 12pt;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
			}
		}
		@media(--desktop-fullhd){
			grid-area: 1 / 12 / 13 / 17;
		}
	}
}

section.item1{
	@media(--desktop){
		height: calc((100vw-64px)* 7 / 16);
		max-height: 700px;
		grid-template-rows: repeat(7, 1fr);
	}
	& .num{
		grid-area: 1 / 1 / 2 / 1;
		@media(--pad){
			grid-area: 1 / 1 / 2 / 1;
			transform: translateY(30px);
		}
		@media(--desktop){
			grid-area: 1 / 3 / 2 / 3;
		}
	}
	& .tag{
		grid-area: 2 / 1 / 3 / 3;
		@media(--pad){
			grid-area: 3 / 1 / 4 / 3;
			transform: translateY(30px);
			z-index: 3;
		}
		@media(--desktop){
			grid-area: 3 / 3 / 5 / 5;
		}
	}
	& .title{
		grid-area: 4 / 1 / 4 / 4;
		@media(--pad){
			grid-area: 5 / 1 / 8 / 7;
		}
		@media(--desktop){
			grid-area: 5 / 3 / 8 / 9;
		}
	}
	& .pic{
		grid-area: 2 / 1 / 6 / 4;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center 10%;
		transform: translate(50px, -25px);
		z-index: 2;
		@media(--pad){
			grid-area: 2 / 2 / 7 / 8;
			transform: translate(0px, 0px);
		}
		@media(--desktop){
			grid-area: 1 / 4 / 7 / 9;
			margin-top: 30px;
		}
	}
	& .border{
		grid-area: 2 / 1 / 6 / 4;
		transform: translateY(-10px);
		@media(--pad){
			grid-area: 2 / 1 / 9 / 6;
			transform: translateY(0px);
			margin-top: 30px;
		}
		@media(--desktop){
			grid-area: 2 / 3 / 9 / 8;
		}
	}
	& .pattern{
		grid-area: 1 / 2 / 5 / 5;
	    z-index: -1;
	    @media(--pad){
	    	grid-area: 1 / 4 / 6 / 9;
	    }
	    @media(--desktop){
	    	grid-area: 1 / 5 / 6 / 10;
	    }
	}
}

section.item2{
	@media(--desktop){
		height: calc((100vw-64px)* 9 / 16);
		max-height: 900px;
		grid-template-rows: repeat(9, 1fr);
	}
	& .tag{
		grid-area: 2 / 1 / 4 / 3;
		@media(--pad){
			grid-area: 3 / 1 / 5 / 3;
		}
		@media(--desktop){
			grid-area: 3 / 7 / 5 / 9;
		}
	}
	& .title{
		grid-area: 4 / 1 / 6 / 4;
		@media(--pad){
			grid-area: 5 / 1 / 8 / 4;
			transform: translateY(50px);
		}
		@media(--desktop){
			grid-area: 6 / 7 / 9 / 13;
			transform: translateY(30px);
		}
	}
	& .solid{
		grid-area: 1 / 1 / 5 / 4;
		margin-top: 30px;
		@media(--pad){
			margin: 0;
			grid-area: 2 / 1 / 8 / 6;
		}
		@media(--desktop){
			grid-area: 2 / 7 / 9 / 9;
		}
	}
	& .pic{
		grid-area: 1 / 2 / 7 / 5;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center;
		@media(--pad){
			grid-area: 1 / 4 / 9 / 9;
		}
		@media(--desktop){
			grid-area: 1 / 9 / 10 / 15;
		}
	}
	& .num{
		grid-area: 2 / 4 / 1 / 4;
		transform: translate(15px, 5px);
		@media(--pad){
			grid-area: 1 / 8 / 1 / 9;
			transform: translate(-20px, 20px);
		}
		@media(--desktop){
			grid-area: 1 / 14 / 1 / 14;
		}
	}
}

section.item3{
	@media(--desktop){
		height: calc((100vw-64px)* 8 / 16);
		max-height: 800px;
		grid-template-rows: repeat(8, 1fr);
	}
	& .solid{
		grid-area: 1 / 1 / 6 / 3;
		margin: 20px 0;
		@media(--pad){
			grid-area: 2 / 1 / 9 / 5;
			margin: 0 0 30px;
		}
		@media(--desktop){
			grid-area: 2 / 3 / 8 / 7;
			margin: 0 20px 0 0;
		}
	}
	& .tag{
		grid-area: 2 / 1 / 4 / 3;
		@media(--pad){
		    grid-area: 2 / 2 / 4 / 4;
		    transform: translateY(30px);
		}
		@media(--pad){
			grid-area: 2 / 3 / 4 / 5;
			transform: translateY(20px);
		}
		@media(--desktop){
			grid-area: 2 / 4 / 4 / 6;
			z-index: 5;
		}
	}
	& .pic{
		background-size: cover;
		background-position: left center;
		grid-area: 2 / 1 / 5 / 5;
		z-index: 3;
		margin: 20px;
		@media(--pad){
			grid-area: 4 / 2 / 8 / 8;
			margin: 0;
		}
		@media(--desktop){
			grid-area: 4 / 4 / 8 / 10;
			margin-bottom: 30px;
		}
	}
	& .pattern{
		grid-area: 1 / 2 / 6 / 4;
		@media(--pad){
			grid-area: 1 / 3 / 9 / 7;
		}
		@media(--desktop){
			grid-area: 1 / 5 / 9 / 9;
		}
	}
	& .num{
		grid-area: 2 / 4 / 2 / 4;
	    transform: translate(20px);
		z-index: 4;
		@media(--pad){
			grid-area: 3 / 7 / 4 / 8;
			transform: translate(30px, 30px);
		}
		@media(--desktop){
			grid-area: 3 / 9 / 3 / 9;
		}
	}
	& .title{
		display: flex;
	    flex-direction: column;
	    align-items: flex-end;
		grid-area: 3 / 2 / 5 / 5;
		@media(--pad){
			grid-area: 5 / 5 / 8 / 9;
		}
		@media(--desktop){
			grid-area: 5 / 6 / 7 / 10;
		    transform: translateX(20px);
		    z-index: 3;
		}
		& h2{
			text-align: right;
		}
	}
}

section.item4{
	@media(--desktop){
		height: calc((100vw-64px)* 5 / 16);
		max-height: 500px;
		grid-template-rows: repeat(5, 1fr);
	}
	& .tag{
		grid-area: 1 / 1 / 1 / 4;
		@media(--desktop){
			grid-area: 1 / 7 / 1 / 9;
		}
	}
	& .title{
		grid-area: 3 / 1 / 5 / 5;
		@media(--pad){
			grid-area: 4 / 1 / 7 / 7;
		}
		@media(--desktop){
			grid-area: 2 / 7 / 5 / 12;
		}
	}
	& .pattern{
		grid-area: 2 / 1 / 5 / 3;
	    margin: 20px 0 0;
	    @media(--pad){
	    	grid-area: 3 / 2 / 7 / 4;
    	    margin: 0;
	    }
	    @media(--desktop){
	    	grid-area: 1 / 9 / 5 / 11;
    	    margin-top: 30px;
	    }
	}
	& .pic{
		-webkit-background-size: cover;
		background-size: cover;
		grid-area: 1 / 2 / 6 / 5;
		@media(--pad){
			grid-area: 1 / 4 / 8 / 9;
			margin: 0 30px 30px 0;
		}
		@media(--desktop){
			grid-area: 1 / 10 / 8 / 15;
		}
	}
	& .num{
		grid-area: 1 / 4 / 1 / 4;
		transform: translate(20px);
		@media(--pad){
			grid-area: 1 / 8 / 1 / 8;
			transform: translate(0px);
		}
		@media(--desktop){
			grid-area: 1 / 14 / 1 / 15;
		}
	}
	& .border{
		display: none;
		@media(--pad){
			display: block;
		    grid-area: 2 / 4 / 9 / 9;
		    margin-left: 30px;
		    z-index: -1;
		}
		@media(--desktop){
			grid-area: 2 / 9 / 9 / 15;
		}
	}
}

section.item5{
	@media(--desktop){
		height: calc((100vw-64px)* 5 / 16);
		max-height: 500px;
		grid-template-rows: repeat(5, 1fr);
	}
	& .solid{
		grid-area: 2 / 1 / 5 / 2;
		@media(--pad){
			grid-area: 3 / 1 / 7 / 2;
		}
		@media(--desktop){
			grid-area: 2 / 3 / 5 / 5;
		}
	}
	& .num{
		grid-area: 1 / 1 / 1 / 1;
		transform: translate(20px, 10px);
		@media(--pad){
			grid-area: 2 / 1 / 2 / 1;
			transform: translate(20px, 0px);
		}
		@media(--desktop){
			grid-area: 1 / 3 / 2 / 3;
			transform: translate(40px, 0px);
		}
	}
	& .tag{
		grid-area: 2 / 1 / 4 / 3;
		transform: translate(20px, 20px);
		@media(--pad){
			grid-area: 3 / 1 / 4 / 3;
		}
		@media(--desktop){
			grid-area: 2 / 3 / 4 / 5;
		}
	}
	& .pic{
		grid-area: 1 / 5 / 6 / 2;
	    margin-top: 30px;
	    margin-right: 30px;
		-webkit-background-size: cover;
		background-size: cover;
		background-position: center bottom;
		@media(--pad){
		    grid-area: 1 / 9 / 8 / 2;
		}
		@media(--desktop){
			grid-area: 1 / 4 / 6 / 11;
			margin: 30px 30px 30px 0px; 
		}
	}
	& .title{
		grid-area: 1 / 3 / 4 / 5;
	    writing-mode: vertical-rl;
	    @media(--pad){
	    	grid-area: 1 / 9 / 6 / 5;
	    }
	    @media(--desktop){
	    	grid-area: 1 / 8 / 6 / 11;
	    }
	}
	& .border{
		display: none;
		@media(--pad){
			display: block;
			grid-area: 4 / 3 / 9 / 9;
			z-index: -1;
		}
		@media(--desktop){
			grid-area: 4 / 5 / 6 / 11;
		}
	}
}